<div id="login-form" class="center-middle container-fluid">
    <div class="transparent-box input-border">
        <div class="icon-box"><i class="fa fa-user fa-2x icon" aria-hidden="true"></i></div>
        <div id="input-username" class="textbox single-line" contenteditable="true" placeholder="Username"></div>
    </div>
    <div class="transparent-box input-border">
        <div class="icon-box"><i class="fa fa-unlock-alt fa-2x icon" aria-hidden="true"></i></div>
        <div id="input-password" class="textbox single-line" contenteditable="true" placeholder="Password"></div>
    </div>
    <div id="login-button" class="transparent-box button center-middle">Login</div>
</div>