.center-middle {
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    flex-direction: column;
}

.transparent-box {
    margin-bottom: 8px;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50px;
}

.input-border {
    border: 1px solid #8facbc;
}

.button {
    text-align: center;
    font-size: 1.3em;
    color: #E1EAED;

    background-color: #6e8491;
}

.icon {
    color: #6e8491;
    margin-left: 15px;
    margin-top: 9px;
}

.icon-box {
    float:left;
}

.textbox {
    color: #6e8491;
    width: 250px;
    
    float: left;
    margin-top: 12px;
    padding-left: 15px;
}

.password {
    -webkit-text-security: disc;
}

#login-button:hover {
    cursor: pointer;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 

[contenteditable="true"].single-line br {
    display:none;

}

[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}